.dark {
  background-color: #494949;
  nav,
  .pageTitle,
  .navCont,
  .logoName {
    background-color: $darkMode !important;
    border-color: #7c7c7c !important;
  }
  .nico {
    &:hover {
      background-color: #848484;
      svg {
        path {
          fill: $active;
        }
      }
    }
    svg {
      path {
        fill: #fff;
      }
    }
  }
  .nico.active {
    background-color: #848484;
    svg {
      path {
        fill: $active;
      }
    }
  }
  .logo {
    i {
      color: #fff;
    }
  }
  .fulltime {
    border-color: #7c7c7c !important;
    span {
      &:nth-child(1) {
        span {
          color: #fff;
        }
      }
    }
  }
  .titName {
    span {
      &:nth-child(1) {
        color: #fff;
      }
      &:nth-child(n + 2) {
        color: #d3d3d3;
        a{
          color: #d3d3d3;
        }
      }
      &:last-child {
        color: $active;
      }
    }
  }
  .span {
    color: #fff;
  }
  .nLinks {
    li {
      a,
      button {
        color: #fff;
        svg {
          path {
            fill: #fff;
          }
        }
        img {
          filter: invert(1) saturate(0%) brightness(2);
        }
      }
    }
  }
  .nLinks {
    .nLink.active {
      background-color: #6e6e6e;
    }
    .red {
      svg {
        path {
          fill: red;
        }
      }
    }
  }
  .dropMenu {
    .active {
      background-color: #6e6e6e;
    }
  }
  #search.active {
    svg {
      path {
        fill: $active !important;
      }
    }
  }
  .border2 {
    border-color: #7c7c7c !important;
  }
  .message {
    span {
      background-color: $darkMode !important;
    }
  }
  .tg {
    tr {
      td {
        background-color: #979797;
        border-color: #7c7c7c !important;
      }
    }
  }
  .paginationCont {
    background-color: #979797;
  }
  .tools {
    .a {
      .fa-file-pen {
        color: #e3e2e2;
      }
    }
  }
  .input {
    span,
    label {
      color: #fff;
    }
    input,
    textarea,
    select,
    .selected-option {
      background-color: #979797;
      &::placeholder {
        color: #fff;
        opacity: 0.8;
      }
    }
  }
  .label {
    background-color: #979797;
  }
  .select2.active {
    svg {
      path {
        fill: #fff;
      }
    }
    .custom-menu {
      display: block;
    }
    .selected-option {
      background-color: $active;
      color: #fff;
    }
  }
  .tg {
    tr {
      td {
        color: #fff;
      }
    }
  }
  .custom-menu {
    li {
      background-color: #979797;
      border-color: #7c7c7c;
      &:hover {
        background-color: $active;
        color: #fff;
      }
    }
  }
}
