$fade-main: #9814bc1a;
$red: #b60000;
$green: #3b9239;
$orange: #d36363;
$dark-main: #b82d52;
$main: #e23d69;
$black: #212323;
$gray: #e5e7eb;
$dark-gray: #757a89;
$active: #008baa;
$shadow: rgba(0, 0, 0, 0.251);
$darkMode:#323232;