$fade-main: #9814bc1a;
$red: #EA4D4D;
$green: #17C666;
$orange: #d36363;
$dark-main: #02758d;
$main: #049BB9;
$black: #212323;
$gray: #e5e7eb;
$dark-gray: #6B7280;
$active: #049BB9;
$shadow: rgba(0, 0, 0, 0.251);
$darkMode:#323232;