@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  color: #212323;
}

::-moz-selection {
  color: #fff;
  background: #049BB9;
}

::selection {
  color: #fff;
  background: #049BB9;
}

body {
  width: 100%;
  overflow-x: hidden;
  direction: rtl;
  background-color: #f3f4f6;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: #049BB9;
}

@media (max-width: 900px) {
  body::-webkit-scrollbar {
    width: 0px;
  }
}
html {
  width: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #212323;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 40px;
}

input[type=time]::-webkit-calendar-picker-indicator {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 40px;
}

.js-scroll {
  opacity: 0;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-left {
  animation: fadeleft 800ms ease forwards;
}

.scrolled.fade-right {
  animation: faderight 800ms ease forwards;
}

.scrolled.fade-top {
  animation: fadetop 800ms ease forwards;
}

.scrolled.fade-btm {
  animation: fadebtm 800ms ease forwards;
}

@keyframes fadeleft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes faderight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadetop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadebtm {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.opacity {
  opacity: 0;
}

/* End Default */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  transition: 0.2s;
  background-color: #fff;
  z-index: 7;
  padding: 0 20px;
  border-bottom: 2px solid #e5e7eb;
}
nav span {
  color: #fff;
}

nav.nav {
  background-color: #fff;
}
nav.nav .logo img {
  display: none;
}
nav.nav .logo span {
  color: #000;
}

.navIcons {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}
.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nico {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  transition: 0.3s all ease;
}
.nico img {
  width: 20px;
  height: 20px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.nico svg path {
  transition: 0.3s all ease;
}
.nico:hover {
  background-color: #eaebef;
}
.nico:hover svg path {
  fill: #008baa;
}
@media (max-width: 500px) {
  .nico {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}

.nico.active {
  background-color: #eaebef;
}
.nico.active svg path {
  fill: #008baa;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
.logo i {
  font-size: 1.5rem;
}

.login {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 40px;
  margin-top: 40px;
}
.login img {
  width: 150px;
}
.login .form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.login .form button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 30px;
  border: none;
  outline: none;
  background-color: transparent;
  background-color: #049BB9;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.login .form button:hover {
  background-color: #02758d;
}
.login h2 {
  width: 100%;
  text-align: center;
  color: #212323;
  padding: 10px 0;
  font-weight: 500;
}

.dont {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 0.8em;
  font-weight: 500;
  padding: 5px 0;
}
.dont a {
  color: #049BB9;
  text-decoration: underline;
}

.inputs {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 15px;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}
.inputs .input {
  width: calc(33.3333333333% - 10px);
  flex-grow: 1;
}
@media (max-width: 900px) {
  .inputs .input {
    width: calc(50% - 15px);
  }
}
@media (max-width: 700px) {
  .inputs .input {
    width: 100%;
  }
}

.col2 .input {
  width: calc(50% - 15px);
  flex-grow: 1;
}
@media (max-width: 900px) {
  .col2 .input {
    width: calc(50% - 15px);
  }
}
@media (max-width: 700px) {
  .col2 .input {
    width: 100%;
  }
}

.input {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input label {
  padding-bottom: 5px;
  font-size: 0.9em;
}
.input span {
  padding-bottom: 5px;
}
.input input,
.input textarea,
.input select,
.input .selected-option {
  width: 100%;
  height: 42px;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid #b3b3b3;
  background-color: #fff;
  color: #000;
  padding: 0 15px;
  border-radius: 5px;
  font-size: 1em;
  text-align: right;
}
.input input::-moz-placeholder, .input textarea::-moz-placeholder, .input select::-moz-placeholder, .input .selected-option::-moz-placeholder {
  color: #000000;
  opacity: 0.3;
}
.input input::placeholder,
.input textarea::placeholder,
.input select::placeholder,
.input .selected-option::placeholder {
  color: #000000;
  opacity: 0.3;
}
.input .selected-option {
  cursor: pointer;
}
.input textarea {
  height: 170px;
  padding: 10px;
  resize: none;
}
.input select {
  color: #212323;
  transition: 0.2s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.input.seo textarea {
  height: 220px;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.select i {
  position: absolute;
  left: 15px;
  color: #212323;
  transition: 0.2s;
  cursor: pointer;
  transition: 0.3s all ease;
}
.select .fa-calendar-days {
  color: #000000;
  opacity: 0.3;
}
.select svg {
  position: absolute;
  right: 15px;
}
.select svg path {
  transition: 0.3s all ease;
}

.select.active i {
  transform: rotate(-90deg);
  color: #fff;
}
.select.active svg path {
  fill: #fff;
}
.select.active .custom-menu {
  display: block;
}
.select.active .selected-option {
  background-color: #049BB9;
  color: #fff;
}

.select2 .selected-option {
  width: 300px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  transition: 0.3s all ease;
}
.select2 select {
  display: none;
}
.select2 svg {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.select2 svg path {
  transition: 0.3s all ease;
}

.custom-menu {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  z-index: 2;
  list-style: none;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.251);
}
.custom-menu li {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 7px 20px;
  border-bottom: 2px solid #e5e7eb;
  cursor: pointer;
  transition: 0.3s all ease;
}
.custom-menu li:hover {
  background-color: #049BB9;
  color: #fff;
}
.custom-menu li:hover img {
  filter: invert(1) brightness(1000%);
}
.custom-menu li:last-child {
  border: none;
}

@media (max-width: 431px) {
  .login img {
    width: 70px;
  }
}
@media (max-width: 410px) {
  .login {
    width: 100%;
    padding: 30px 30px 40px 30px;
  }
}
.box {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  width: 100%;
  padding: 100px 20px 50px 20px;
}

@media (max-width: 551px) {
  .home {
    height: auto;
    padding: 120px 20px 50px 20px;
  }
  nav a {
    white-space: nowrap;
    font-size: 0.7em;
    padding: 0 10px;
  }
  nav a img {
    width: 13px;
  }
}
@media (max-width: 351px) {
  nav a {
    white-space: nowrap;
    font-size: 0em;
    padding: 0 10px 0 12px;
  }
  nav a img {
    width: 20px;
  }
}
.dcont {
  width: 100%;
  display: flex;
}

.editImgCont {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: #fff;
  overflow-y: scroll;
}
.editImgCont::-webkit-scrollbar {
  width: 0px;
}

.eimg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 30px 0;
}
.eimg img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}
.eimg::after {
  content: "";
  position: absolute;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1;
}
.eimg::before {
  content: "";
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, rgba(152, 20, 188, 0.83), rgba(92, 37, 180, 0.101));
  transform: rotate(-45deg);
  z-index: 1;
}

.ud {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.ud h4,
.ud span {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  text-align: center;
}
.ud h4 {
  font-size: 1.2em;
}
.ud span {
  color: #787878;
  padding-top: 5px;
}

.edimg {
  width: 150px;
  height: 52px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(152, 20, 188, 0.1019607843);
  margin-top: 20px;
  transition: 0.2s;
}
.edimg:hover {
  background-color: #049BB9;
}
.edimg:hover .lbl {
  color: #fff;
}

.lbl {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  color: #049BB9;
  font-weight: 700;
  font-size: 1em;
  transition: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.navCont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  height: 100dvh;
  padding: 0 0 50px 0;
  position: fixed;
  background-color: #fff;
  z-index: 5;
  overflow-x: hidden;
  overflow-y: scroll;
  border-left: 2px solid #e5e7eb;
}
.navCont::-webkit-scrollbar {
  width: 0px;
}

.logoName {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  width: 100%;
  border-bottom: 2px solid #e5e7eb;
  min-height: 70px;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
}
.logoName img {
  width: 200px;
}
.logoName img:nth-child(2) {
  display: none;
}

.nImg {
  width: 100%;
  display: flex;
  justify-content: right;
}
.nImg img {
  width: 120px;
}

.span {
  width: 100%;
  padding: 30px 20px 0 20px;
  color: #6b7280;
  font-size: 0.9rem;
}

.dropMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s all ease;
}
.dropMenu a {
  margin-right: auto;
  width: calc(100% - 20px) !important;
  height: 35px;
  display: flex;
  justify-content: right !important;
  gap: 10px;
  font-size: 0.9rem !important;
}
.dropMenu a img {
  margin: 0 !important;
}
.dropMenu a .active {
  background-color: #e5e7eb;
}

.drop {
  display: flex;
  flex-direction: column;
}

.drop.active .dropMenu {
  padding: 10px 0;
  opacity: 1;
  display: flex;
  height: auto;
}
.drop.active img {
  transform: rotate(-90deg);
}

.fulltime {
  padding: 5px 15px;
  border-radius: 5px;
  border: 2px solid #e5e7eb;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.fulltime span {
  gap: 7px;
  direction: ltr;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 0.9rem;
}
.fulltime span:nth-child(1) span {
  color: #6b7280;
}
.fulltime span:nth-child(2) span {
  color: #049BB9;
}
.fulltime span img {
  width: 20px;
}

.nLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  gap: 10px;
}
.nLinks .logOut {
  position: absolute;
  bottom: 50px;
}
.nLinks .logOut a {
  color: #212323;
}
.nLinks .sett {
  position: absolute;
  bottom: 100px;
}
.nLinks .sett .nLink::after {
  content: "";
  position: relative;
  width: 7px;
  height: 30px;
  border-radius: 0 10px 10px 0;
  background-color: #049BB9;
  left: -150px;
  transition: 0.2s;
}
.nLinks .sett .nLink.active::after {
  left: -115px;
}
.nLinks li {
  display: flex;
  align-items: center;
  width: 100%;
}
.nLinks li a,
.nLinks li button {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 45px;
  position: relative;
  gap: 10px;
  transition: 0.2s;
  font-size: 1em;
  font-weight: 600;
  border-radius: 10px;
  padding: 0 15px;
}
.nLinks li a img,
.nLinks li button img {
  margin-right: auto;
  transition: 0.3s all ease;
}
.nLinks li a svg,
.nLinks li button svg {
  transition: 0.2s;
}
.nLinks li a svg path,
.nLinks li button svg path {
  transition: 0.2s;
}

.nLinks li .active {
  color: #212323;
  background-color: #e5e7eb;
}
.nLinks li .active::after {
  left: 0;
}

.nLink.settingsSvg.active {
  color: #049BB9;
}
.nLink.settingsSvg.active svg path {
  fill: #049BB9;
  stroke-width: 0;
}
.nLink.settingsSvg.active svg path:nth-child(1) {
  fill: #049BB9;
  stroke-width: 0;
}
.nLink.settingsSvg.active svg path:nth-child(2) {
  fill: #fff;
  stroke-width: 0;
}
.nLink.settingsSvg.active::after {
  left: 0;
}

.mainCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 300px);
  margin-right: auto;
  padding-bottom: 50px;
  position: relative;
}
.mainCont::-webkit-scrollbar {
  width: 0px;
}

.p30 {
  padding: 0 30px;
}

.pt30 {
  padding-top: 30px;
}

.titName {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.titName span {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 0.9rem;
}
.titName span:nth-child(1) {
  font-weight: 700;
  color: #000;
}
.titName span:nth-child(n+2) {
  color: #212323;
}
.titName span:nth-child(n+2) a {
  color: #212323;
}
.titName span:last-child {
  color: #049BB9;
}

.count {
  position: absolute;
  top: 3px;
  right: 5px;
  z-index: 2;
  padding: 2px 4px;
  background-color: #049BB9;
  line-height: 1;
  border-radius: 5px;
  font-size: 0.8rem;
}
@media (max-width: 500px) {
  .count {
    right: 0;
    top: 0;
  }
}

.redBG {
  background-color: #EA4D4D;
}

.greenBG {
  background-color: #17C666;
}

.red {
  color: #ae0000 !important;
}

.pageTitle {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  background-color: #fff;
  border-bottom: 2px solid #e5e7eb;
}

#search {
  direction: ltr;
  justify-content: left;
  overflow: hidden;
  position: relative;
}
#search svg {
  margin: 0 auto;
}
#search input {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 10px;
  font-size: 1rem;
  text-align: right;
  width: 0;
  height: 45px;
  background-color: #e5e7eb;
  transition: 0.4s all ease;
  overflow: hidden;
}
#search input::-moz-placeholder {
  color: #212323;
  opacity: 0.8rem;
}
#search input::placeholder {
  color: #212323;
  opacity: 0.8rem;
}

#search.active {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
}
#search.active input {
  width: 300px;
  padding: 0 15px 0 40px;
}
#search.active svg {
  position: absolute;
  left: 10px;
}

@media (max-width: 700px) {
  #search {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: initial;
  }
  #search input {
    position: fixed;
    right: 20px;
    top: 80px;
  }
  #search.active {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  #search.active input {
    width: calc(100% - 40px);
    padding: 0 15px 0 15px;
  }
  #search.active svg {
    position: relative;
    left: auto;
  }
  #search.active svg path {
    fill: #6b7280 !important;
  }
}
@media (max-width: 1101px) {
  .navCont {
    display: flex;
    position: fixed;
    top: 70px;
    right: -100%;
    transition: 0.2s;
    z-index: 5;
    height: calc(100dvh - 70px);
    overflow-y: scroll;
    padding-top: 0;
  }
  .navCont::-webkit-scrollbar {
    width: 0px;
  }
  .sett .nLink::after {
    left: -350px;
  }
  .sett .nLink.active::after {
    left: -140px !important;
  }
  .nLinks {
    padding-top: 30px;
  }
  .nLinks .logOut {
    position: relative;
    bottom: auto;
    bottom: 0;
  }
  .nLinks .sett {
    position: relative;
    bottom: auto;
    bottom: 0;
  }
  .showNavLinks .navCont {
    right: 0;
  }
  .showNavLinks .lst .menu span:nth-child(1) {
    transform: rotate(45deg);
    top: 40px;
    background-color: #EA4D4D;
  }
  .showNavLinks .lst .menu span:nth-child(2) {
    width: 0;
    opacity: 0;
  }
  .showNavLinks .lst .menu span:nth-child(3) {
    transform: rotate(-45deg);
    top: 40px;
    background-color: #EA4D4D;
  }
  .editImgCont {
    position: fixed;
    top: 80px;
    left: -100%;
    height: calc(100vh - 80px);
    transition: 0.2s;
    z-index: 5;
  }
  .showProfileImg .editImgCont {
    left: 0;
  }
  .mainCont {
    width: 100%;
  }
  .hder {
    width: 100%;
  }
  .lst h3 {
    display: none;
  }
  .lst .menu {
    display: flex;
  }
  .fst img {
    display: block;
  }
}
#menu {
  cursor: pointer;
}

@media (max-width: 421px) {
  .alreadyDow {
    justify-content: center;
  }
  .notAdded {
    justify-content: center;
  }
  .p30 {
    padding: 0 20px;
  }
  .nLinks .logOut {
    position: relative;
    bottom: auto;
    bottom: 0;
  }
  .nLinks .sett {
    position: relative;
    bottom: auto;
    bottom: 0;
  }
  .fst a {
    font-size: 0.9em;
    padding: 5px 20px;
  }
  .editImgCont {
    overflow-y: scroll;
    padding-bottom: 20px;
  }
  .editImgCont::-webkit-scrollbar {
    width: 0px;
  }
}
@media (max-width: 361px) {
  .alreadyDow,
  .notAdded {
    justify-content: center;
  }
}
.pb50 {
  padding-bottom: 50px;
}

.pSet {
  width: 100%;
  display: flex;
  gap: 50px;
}

.inBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  flex-wrap: wrap;
}
.inBox .inp {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}
.inBox .inp span {
  color: #6B7280;
  font-size: 0.9em;
  font-weight: 500;
}

.conta {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
.conta h3 {
  font-weight: 600;
  font-size: 1.3em;
}

.form .row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.form .row .input {
  width: calc(50% - 10px);
}

@media (max-width: 800px) {
  .form .row {
    flex-direction: column;
    gap: 10px;
  }
  .form .row .input {
    width: 100%;
  }
}
.twoForms {
  display: flex;
  gap: 30px;
  width: 100%;
}
.twoForms .form {
  width: 100%;
}
.twoForms .form .row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

@media (max-width: 850px) {
  .twoForms .form .row {
    flex-direction: column;
    gap: 10px;
  }
  .w800 {
    width: 100%;
  }
}
.cons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.cons a {
  padding-top: 40px;
  padding-bottom: 40px;
}

.itm {
  width: 280px;
  padding: 30px 20px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: #fff;
}
.itm .bb {
  z-index: 5;
}
.itm img {
  width: 50px;
}
.itm span {
  color: #212323;
  font-weight: 500;
  padding: 10px 0;
}
.itm i {
  font-size: 3em;
  color: #212323;
}
.itm h1 {
  color: #049BB9;
  font-size: 2em;
  line-height: 1;
}

.jcr {
  width: 100%;
  justify-content: right !important;
}

.itm2 {
  gap: 20px;
  flex-grow: 0;
}

@media (max-width: 421px) {
  .itm {
    width: 100%;
  }
}
.flink {
  gap: 20px;
  transition: 0.3s all ease;
  cursor: pointer;
}
.flink span {
  transition: 0.3s all ease;
}
.flink svg path {
  transition: 0.3s all ease;
}
.flink:hover span {
  color: #02758d;
}
.flink:hover svg path {
  fill: #02758d;
}

.foLinks {
  width: 100%;
  display: flex;
  justify-content: right;
  flex-direction: column;
  gap: 30px;
}

.foLIn {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.secLinks {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.secLinks h3 {
  font-weight: 400;
  padding-bottom: 10px;
}

.saveBtn {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  background-color: #049BB9;
  color: #fff;
  height: 42px;
  padding: 0 30px;
  font-size: 0.9rem;
  border-radius: 10px;
  font-weight: 600;
  gap: 10px;
}
.saveBtn i {
  color: #fff;
}
.saveBtn img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 651px) {
  .foLIn {
    flex-direction: column;
  }
  .secLinks {
    width: 100%;
  }
}
.txtArea {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px;
  width: 100%;
  height: 200px;
  border: 1px solid #049BB9;
  background-color: #fff;
  border-radius: 5px;
  resize: none;
  font-size: 1em;
}
.txtArea::-moz-placeholder {
  color: #049BB9;
  opacity: 0.6;
}
.txtArea::placeholder {
  color: #049BB9;
  opacity: 0.6;
}
.txtArea::-webkit-scrollbar {
  width: 5px;
}
.txtArea::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px;
}
.txtArea::-webkit-scrollbar-thumb {
  background: #049BB9;
  border-radius: 5px;
}

.tg {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}
.tg tbody {
  font-size: 14px;
}
.tg tbody tr td {
  height: 45px;
  padding: 0 10px;
  text-align: center !important;
  vertical-align: middle !important;
  background-color: #fff;
  white-space: nowrap !important;
  border: 2px solid #e5e7eb;
  font-weight: 600;
}
.tg tbody tr td:nth-child(n+1) {
  border-right: none;
  border-left: none;
}
.tg tbody tr td:first-child {
  border-left: none;
  border-right: 2px solid #e5e7eb;
}
.tg tbody tr td:last-child {
  border-right: none;
  border-left: 2px solid #e5e7eb;
}
.tg tbody tr td img {
  vertical-align: middle !important;
  width: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 42px;
}
.tg tbody tr td input {
  width: 17px;
  height: 17px;
}
.tg tbody tr td:first-child {
  border-top-right-radius: 10px;
  padding-right: 20px;
}
.tg tbody tr td:last-child {
  border-top-left-radius: 10px;
  padding-left: 20px;
}
.tg tbody tr td:first-child {
  border-bottom-right-radius: 10px;
}
.tg tbody tr td:last-child {
  border-bottom-left-radius: 10px;
}

.tg th {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  height: 45px;
  text-transform: capitalize;
  white-space: nowrap;
  background-color: #049BB9;
  font-weight: 600;
  color: #fff;
}
.tg th:first-child {
  border-radius: 0 10px 10px 0;
}
.tg th:last-child {
  border-radius: 10px 0 0 10px;
}
.tg th input {
  width: 17px;
  height: 17px;
}

@media (max-width: 701px) {
  .tg th {
    padding: 10px 5px;
  }
}
@media (max-width: 451px) {
  .tg th {
    font-size: 14px;
  }
  .tg tbody tr td {
    font-size: 14px;
  }
}
.tools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.tools .a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757a89;
  font-size: 1.3em;
}
.tools .a .fa-file-pen {
  color: #6B7280;
}
.tools .a .fa-trash-can {
  color: #EA4D4D;
}

.status, .status-pending, .status-inactive, .status-active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 15px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 0.8rem;
  min-width: 80px;
}

.status-active {
  background-color: #17C666;
  color: #fff;
}

.status-inactive {
  background-color: #EA4D4D;
  color: #fff;
}

.status-pending {
  background-color: #E9B300;
  color: #fff;
}

.self-start {
  align-items: flex-start;
}

.pageCont {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.taIn {
  width: 100%;
  overflow: auto;
}
.taIn::-webkit-scrollbar {
  height: 5px;
}
.taIn::-webkit-scrollbar-track {
  background: #fff;
}
.taIn::-webkit-scrollbar-thumb {
  background: #049BB9;
}

.paginationCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: #fff;
  border-radius: 10px;
  padding-left: 20px;
  position: relative;
  direction: ltr;
}

@media (max-width: 601px) {
  .paginationCont {
    margin-top: 40px;
  }
}
.page {
  font-size: 0.8em;
  color: #000;
}
.page span {
  color: #049BB9;
}

@media (max-width: 801px) {
  .p30 {
    padding: 0 20px;
  }
}
@media (max-width: 471px) {
  .paginationCont {
    justify-content: center;
    padding: 0 20px;
  }
  .page {
    position: absolute;
    top: -27px;
    left: 5px;
  }
}
.paginations {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginations button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 10px;
}
.paginations button img {
  width: 7px;
}

.spans {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  list-style: none;
  padding: 0 10px;
  flex-direction: row-reverse;
}
.spans li .page-link.active {
  background-color: #049BB9;
  color: #fff;
}
.spans li .page-link.active:hover {
  background-color: #049BB9;
}
.spans li .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #eef0f4;
  color: #000;
  transition: 0.2s;
  cursor: pointer;
  font-size: 0.8em;
}
.spans li .page-link img {
  width: 7px;
}
.spans li .page-link:hover {
  background-color: #c7c7c8;
}

.border2, .message span, .user {
  border: 2px solid #e5e7eb;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.btns .bb {
  margin: 0;
  margin-right: auto !important;
}

@media (max-width: 431px) {
  .btns {
    flex-direction: column;
  }
  .btns .saveBtn {
    width: 100%;
    flex-grow: 1;
  }
}
.customInput {
  width: 100%;
  display: flex;
  gap: 10px;
}
.customInput label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #049BB9, #02758d);
  color: #fff;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

.prImgs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.pImg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100px;
}
.pImg img,
.pImg video {
  width: 100%;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.pImg video {
  height: 150px;
}
.pImg i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #fff;
  background-color: #049BB9;
  font-size: 0.9em;
  cursor: pointer;
  z-index: 2;
}

.oneImg {
  width: 300px;
}
.oneImg img {
  height: 170px;
}
.oneImg i {
  top: -10px;
  left: -10px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  font-size: 1.2em;
}

.w430 {
  max-width: 430px;
}

@media (max-width: 951px) {
  .w430 {
    width: 100%;
  }
}
@media (max-width: 431px) {
  .oneImg {
    width: 100%;
  }
}
.mi {
  position: relative;
  overflow: hidden;
}
.mi::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(61, 61, 61, 0.137254902);
  left: -100%;
  transition: 0.3s all ease;
  z-index: 4;
}
.mi:hover::after {
  left: 0;
}

.contactPop {
  width: 400px;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.251);
  position: relative;
}

#exit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #EA4D4D;
  position: absolute;
  font-size: 1.2em;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.er {
  width: 100%;
  display: flex;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.er span {
  font-size: 0.9em;
}
.er span:nth-child(2) {
  color: #049BB9;
}
.er a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  font-size: 0.8em;
  gap: 10px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  background-image: linear-gradient(to right, #049BB9, #02758d);
}
.er p {
  color: #049BB9;
  font-size: 0.9em;
  width: 100%;
}

.p100 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 !important;
}

.w800 {
  max-width: 800px;
  width: 100%;
}

.mes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  overflow-y: scroll;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4156862745);
  padding: 50px 20px;
}
.mes::-webkit-scrollbar {
  width: 0;
}

.flc {
  flex-direction: column;
}

@media (max-width: 971px) {
  .p100 {
    margin-top: 70px;
  }
}
@media (max-width: 551px) {
  .p100 {
    width: 100%;
  }
  .contactPop {
    width: 100%;
    padding: 40px 20px 30px 20px;
    gap: 10px;
  }
  .er {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }
  .fdr {
    flex-direction: row;
  }
}
.slider .pImg {
  width: 135px;
}
.slider .pImg img {
  height: 80px;
}

.bb {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0 30px;
  border-radius: 5px;
  font-size: 1em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #049BB9;
  font-weight: 500;
  cursor: pointer;
}

.mt20 {
  margin-top: 20px;
}

.mla {
  margin: 0;
  margin-left: auto !important;
}

.mt10 {
  margin-top: 10px;
}

.mw200 {
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nLink i {
  font-size: 1.3em;
  transition: 0.3s all ease;
}

.nLink.active i {
  font-size: 1.3em;
  color: #049BB9;
}

.gap20 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.wbtns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding-top: 20px;
}
.wbtns form {
  display: flex;
  gap: 10px;
}
.wbtns form input,
.wbtns form .select2 {
  width: 300px !important;
}

.btn {
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  background-color: #049BB9;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 500;
  gap: 10px;
  white-space: nowrap;
}
.btn i {
  color: #fff;
}

@media (max-width: 450px) {
  .btn {
    flex-grow: 1;
  }
}
.pImages,
.vImages {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 20px;
}

.pImage {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.pImages.videosIn .pImage {
  width: 250px;
  height: 150px;
}

.vImages .pImage {
  width: 250px !important;
  height: 150px !important;
}

.pImage img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 5px;
}

.pImage video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}

.pImage i {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #EA4D4D;
  color: #fff;
  font-size: 1em;
  right: -5px;
  top: -5px;
  cursor: pointer;
}

.popUp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  height: 100dvh;
  padding: 0 20px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.popUp .form {
  position: relative;
  z-index: 12;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .popUp .form {
    padding: 30px 20px;
    border-radius: 7px;
  }
}

#close {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10px;
  left: -10px;
  color: #fff;
  cursor: pointer;
  z-index: 11;
  background-color: #EA4D4D;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.m0a {
  margin: 0 auto;
}

.fw500 {
  font-weight: 500;
}

.lineRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.lineRow span:nth-child(1) {
  color: #212323;
  font-weight: 600;
}
.lineRow span:nth-child(2) {
  color: #fff;
}
.lineRow span:nth-child(2) a {
  padding: 0 20px;
  height: 37px;
  background-color: #049BB9;
  color: #000;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.lineRow span:nth-child(2) a i {
  font-size: 0.8em;
}

.form.w430 {
  display: flex;
  width: 430px;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 500px) {
  .form.w430 {
    width: 100%;
  }
}
.linkTowatch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.btns2 {
  width: 100%;
  display: flex;
  justify-content: right;
  gap: 20px;
}
.btns2 button {
  padding: 0 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #212323;
  color: #212323;
  transition: 0.3s all ease;
  font-size: 1em;
  font-weight: 500;
}
.btns2 .active {
  background-color: #212323;
  color: #fff;
}

#information {
  display: none;
}

.message {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: -100px;
  animation: showMessage 300ms ease-in-out forwards;
  z-index: 999;
  padding: 0 20px;
  justify-content: right;
  direction: ltr;
}
.message span {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 30px;
  background-color: #fff;
  color: #17C666;
  border-radius: 7px;
  text-transform: capitalize;
}
.message span i {
  font-size: 1.2rem;
  color: #17C666;
  padding-top: 3px;
}

.message.errorMessage span {
  color: #EA4D4D;
}
.message.errorMessage span i {
  color: #EA4D4D;
}

@keyframes showMessage {
  100% {
    bottom: 20px;
  }
}
@media (max-width: 500px) {
  .message span {
    width: 100%;
    padding: 15px 20px;
  }
}
@media (max-width: 750px) {
  .wbtns form {
    width: 100%;
    flex-direction: column;
  }
  .wbtns form input,
  .wbtns form .select2,
  .wbtns form .selected-option {
    width: 100% !important;
  }
}
.labelImage {
  flex-grow: 0 !important;
}

.label {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #049BB9;
  padding: 0 15px !important;
  position: relative;
  font-weight: 600;
  color: #049BB9;
}
.label img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0;
  transform: translate(0);
  position: absolute;
  left: 15px;
}

.sectionTitle {
  padding-top: 20px;
}
.sectionTitle span {
  color: #049BB9;
}
.sectionTitle span:nth-child(1) {
  font-weight: 600;
}

.inputs2 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
@media (max-width: 1300px) {
  .inputs2 {
    flex-wrap: wrap;
  }
}
.inputs2 .input {
  width: 25%;
}
@media (max-width: 900px) {
  .inputs2 .input {
    width: calc(33.3333333333% - 15px);
  }
}
@media (max-width: 700px) {
  .inputs2 .input {
    width: 100%;
  }
}
.inputs2 .input2 {
  width: calc(35% + 30px);
}
@media (max-width: 700px) {
  .inputs2 .input2 {
    width: 100%;
  }
}

.w50 {
  width: 50% !important;
}
@media (max-width: 700px) {
  .w50 {
    width: 100% !important;
  }
}

.dark {
  background-color: #494949;
}
.dark nav,
.dark .pageTitle,
.dark .navCont,
.dark .logoName {
  background-color: #323232 !important;
  border-color: #7c7c7c !important;
}
.dark .nico:hover {
  background-color: #848484;
}
.dark .nico:hover svg path {
  fill: #049BB9;
}
.dark .nico svg path {
  fill: #fff;
}
.dark .nico.active {
  background-color: #848484;
}
.dark .nico.active svg path {
  fill: #049BB9;
}
.dark .logo i {
  color: #fff;
}
.dark .fulltime {
  border-color: #7c7c7c !important;
}
.dark .fulltime span:nth-child(1) span {
  color: #fff;
}
.dark .titName span:nth-child(1) {
  color: #fff;
}
.dark .titName span:nth-child(n+2) {
  color: #d3d3d3;
}
.dark .titName span:nth-child(n+2) a {
  color: #d3d3d3;
}
.dark .titName span:last-child {
  color: #049BB9;
}
.dark .span {
  color: #fff;
}
.dark .nLinks li a,
.dark .nLinks li button {
  color: #fff;
}
.dark .nLinks li a svg path,
.dark .nLinks li button svg path {
  fill: #fff;
}
.dark .nLinks li a img,
.dark .nLinks li button img {
  filter: invert(1) saturate(0%) brightness(2);
}
.dark .nLinks .nLink.active {
  background-color: #6e6e6e;
}
.dark .nLinks .red svg path {
  fill: red;
}
.dark .dropMenu .active {
  background-color: #6e6e6e;
}
.dark #search.active svg path {
  fill: #049BB9 !important;
}
.dark .border2, .dark .user, .dark .message span, .message .dark span {
  border-color: #7c7c7c !important;
}
.dark .message span {
  background-color: #323232 !important;
}
.dark .tg tr td {
  background-color: #979797;
  border-color: #7c7c7c !important;
}
.dark .paginationCont {
  background-color: #979797;
}
.dark .tools .a .fa-file-pen {
  color: #e3e2e2;
}
.dark .input span,
.dark .input label {
  color: #fff;
}
.dark .input input,
.dark .input textarea,
.dark .input select,
.dark .input .selected-option {
  background-color: #979797;
}
.dark .input input::-moz-placeholder, .dark .input textarea::-moz-placeholder, .dark .input select::-moz-placeholder, .dark .input .selected-option::-moz-placeholder {
  color: #fff;
  opacity: 0.8;
}
.dark .input input::placeholder,
.dark .input textarea::placeholder,
.dark .input select::placeholder,
.dark .input .selected-option::placeholder {
  color: #fff;
  opacity: 0.8;
}
.dark .label {
  background-color: #979797;
}
.dark .select2.active svg path {
  fill: #fff;
}
.dark .select2.active .custom-menu {
  display: block;
}
.dark .select2.active .selected-option {
  background-color: #049BB9;
  color: #fff;
}
.dark .tg tr td {
  color: #fff;
}
.dark .custom-menu li {
  background-color: #979797;
  border-color: #7c7c7c;
}
.dark .custom-menu li:hover {
  background-color: #049BB9;
  color: #fff;
}
.dark .logoName img:nth-child(1) {
  display: none;
}
.dark .logoName img:nth-child(2) {
  display: block;
}
.dark .popUp .form {
  background-color: #494949;
}
.dark .page {
  color: #fff;
}/*# sourceMappingURL=style.css.map */